orchestration_kestra.yaml
id: download_tripdata
namespace: my.ingestion

variables:
  base_url: "https://s3.amazonaws.com/hubway-data"
  url_suffix: "-hubway-tripdata.zip"

inputs:
  - name: year
    type: string
  - name: month
    type: string

tasks:
  - id: build-url
    type: io.kestra.core.tasks.storages.LocalStorageWriter
    content: "{{ base_url }}/{{ inputs.year }}{{ inputs.month }}{{ url_suffix }}"
    key: "tripdata_url.txt"

  - id: fetch-file
    type: io.kestra.plugin.fs.http.Download
    url: "{{ outputs.build-url.uri }}"
    destination: "kestra://local/tripdata.zip"

  - id: extract-zip
    type: io.kestra.plugin.fs.local.ZipExtract
    from: "kestra://local/tripdata.zip"
    to: "kestra://local/extracted/"

  - id: upload-to-gcp
    type: io.kestra.plugin.gcp.gcs.Upload
    bucket: "your-gcp-bucket"
    from: "kestra://local/extracted/"
    to: "gs://your-gcp-bucket/tripdata/{{ inputs.year }}/{{ inputs.month }}/"
    credentials: "{{ secret('GCP_CREDENTIALS') }}"  # Optional, if not using default auth